@{
    ViewBag.Title = "Контакты";
}
<div class="section">
    <div class="container-fluid">

        <div class="font_contact">
            Организаторы :
            <br>
            <br>
        </div>
       
        
       

    </div>
    <hr>


</div>
<div class="all container">
    <input checked type="radio" name="respond" id="desktop">
    <article id="slider">
        <input checked type="radio" name="slider" id="switch1">
        <input type="radio" name="slider" id="switch2">

        <div id="slides">
            <div id="overflow">
                <div class="image">
                    <article>

                        <div class="container margine_all">
                            <!--1-->
                            <div class="col-md-2 poster">
                                <img class="img-thumbnail img-circle" width="178976" height="1" src=\images\Контакты\vlada.jpg>
                                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/haradkande">Владислава<br />  Владимировна</a></p></h3>
                                <div class="descr">
                                    <h5 class="font_contact_1"><p align="center">Глав. орг./ Куратор Comics дефиле/ Партнерство/ Стенды/ Аккредитация СМИ</p>  </h5>
                                </div>
                            </div>
                            <!--2-->
                            <div class="col-md-2 poster">
                                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\sergei.jpg>
                                    <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/belyj_leva">Сергей <br /> Стрижонок</a></p></h3>
                                <dev class="descr">
                                    <h5 class="font_contact_1"><p align="center">Фотокосплей/ Аккредитация фотографов и видеографов</p>  </h5>
                                </dev>
                            </div>

                            <!--3-->
                            <div class="col-md-2 poster">
                                    <img class="img-circle img-thumbnail" width="300" height="600" src=\images\Контакты\polina.jpg>
                                    <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id159089348">Полина <br /> Белова</a></p></h3>
                                <div class="descr">
                                    <h5 class="font_contact_1"><p align="center">Куратор одиночного дефиле</p>   </h5>
                                </div>
                            </div>
                            <!--4-->
                            <div class="col-md-2 poster">
                                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\anton.jpg>
                                    <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id29591271">Антон <br /> Бродинский</a></p></h3>
                                <div class="descr">
                                    <h5 class="font_contact_1"><p align="center">Куратор группового дефиле</p>  </h5>
                                </div>
                            </div>
                            <!--5-->
                            <div class="col-md-2 poster">
                                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\aleksei.jpg>
                                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/mr_clamp">Алексей<br />  Швец</a></p></h3>
                                <div class="descr">
                                    <h5 class="font_contact_1"><p align="center">Куратор Game дефиле</p>  </h5>
                                </div>
                            </div>
                            <!--6-->
                            <div class="col-md-2 poster">
                                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\dasha.jpg>
                                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/dreamgrin">Дарья<br />  Заячковская</a></p></h3>
                                <div class="descr">
                                    <h5 class="font_contact_1"><p align="center">Куратор Horror дефиле/ Cosplay сценка</p>  </h5>
                                </div>
                            </div>
                        </div>


                    </article>
                    <article>

                        <div class="container margine_all">
                           
                            <!--7-->
                            <div class="col-md-2 poster">
                                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\liza.jpg>
                                    <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id199240906">Елизавета<br />  Ланина</a></p></h3>
                                <div class="descr">
                                    <h5 class="font_contact_1"><p align="center">Куратор Original дефиле/ Волонтерская служба</p>  </h5>
                                </div>
                            </div>
                            <!--8-->
                            <div class="col-md-2 poster">
                                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\Artyom.jpg>
                                    <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id381485990">Артём <br /> Ржеутский</a></p></h3>
                                <div class="descr">
                                    <h5 class="font_contact_1"><p align="center">Куратор тех. части/ Выставка</p>  </h5>
                                </div>
                            </div>
                            <!--9-->
                            <div class="col-md-2 poster">
                                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\stefan.jpg>
                                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id47503824">Стефан<br />  Шилов</a></p></h3>
                                <div class="descr">
                                    <h5 class="font_contact_1"><p align="center">Куратор Steampunk дефиле</p>  </h5>
                                </div>
                            </div>
                            <!--10-->
                            <div class="col-md-2 poster">
                                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\yan.jpg>
                                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/john__y">Ян<br /> Мурашко</a></p></h3>
                                <div class="descr">
                                    <h5 class="font_contact_1"><p align="center">Куратор сцены</p>  </h5>
                                </div>
                            </div>
                            <!--11-->
                            <div class="col-md-2 poster">
                                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\evgene.jpg>
                                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id123122762">Евгений<br />  Дервоедов</a></p></h3>
                                <div class="descr">
                                    <h5 class="font_contact_1"><p align="center"> Администратор сайта / Техподдержка</p></h5>
                                </div>
                            </div>
                            <!--12-->
                            <div class="col-md-2 poster">
                                <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\den.jpg>
                                <h3 class="shadow font_contact_2 text-center"><a href="https://vk.com/id123122762">Денис<br />  Могучий</a></p></h3>
                                <div class="descr">
                                    <h5 class="font_contact_1"><p align="center"> Техподдержка</p></h5>
                                </div>
                            </div>
                        </div>

                    </article>
                  
                </div>
            </div>
        </div>
        <div id="controls">
            <label for="switch1"></label>
            <label for="switch2"></label>
            <label for="switch3"></label>
            <label for="switch4"></label>
            <label for="switch5"></label>
        </div>
        <div id="active">
            <label for="switch1"></label>
            <label for="switch2"></label>
         
        </div>
    </article>
</div>