@{
    ViewBag.Title = "Контакты";
}
<div class="section">
    <div class="container-fluid">

        <div class="font_contact">
            Организаторы :
            <br>
            <br>
        </div>
        <div class="container">
            <!--1-->
            <div class="col-sm-12 col-md-3 col-lg-3">
                <p align="center">
                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\vlada.jpg>
                </p>
                <h3 class="shadow font_contact_2"><p align="center"><a href="https://vk.com/haradkande">Владислава Владимировна</a></p></h3>
                <h5 class="font_contact_1"><p align="center">Глав. орг./ Куратор Comics дефиле/ Партнерство/ Стенды/ Аккредитация СМИ</p>  </h5>
            </div>
            <!--2-->
            <div class="col-sm-12 col-md-3 col-lg-3">
                <p align="center">
                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\sergei.jpg>
                </p>
                <h3 class="shadow font_contact_2"><p align="center"><a href="https://vk.com/belyj_leva">Сергей Стрижонок</a></p></h3>
                <h5 class="font_contact_1"><p align="center">Фотокосплей/ Аккредитация фотографов и видеографов</p>  </h5>
            </div>

            <!--3-->
            <div class="col-sm-12 col-md-3 col-lg-3">
                <p align="center">
                    <img class="img-circle img-thumbnail" width="300" height="600" src=\images\Контакты\polina.jpg>
                </p>
                <h3 class="shadow font_contact_2"><p align="center"><a href="https://vk.com/id159089348">Полина Белова</a></p></h3>
                <h5 class="font_contact_1"><p align="center">Куратор одиночного дефиле</p>   </h5>
            </div>
            <!--4-->
            <div class="col-sm-12 col-md-3 col-lg-3">
                <p align="center">
                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\anton.jpg>
                </p>
                <h3 class="shadow font_contact_2"><p align="center"><a href="https://vk.com/id29591271">Антон Бродинский</a></p></h3>
                <h5 class="font_contact_1"><p align="center">Куратор группового дефиле</p>  </h5>
            </div>
        </div>
        <div class="container">
            <!--5-->
            <div class="col-sm-12 col-md-3 col-lg-3">
                <p align="center">
                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\aleksei.jpg>
                </p>
                <h3 class="shadow font_contact_2">
                    <p align="center"><a href="https://vk.com/mr_clamp">Алексей Швец</a></p></h3>
                    <h5 class="font_contact_1"><p align="center">Куратор Game дефиле</p>  </h5>
            </div>
            <!--6-->
            <div class="col-sm-12 col-md-3 col-lg-3">
                <p align="center">
                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\dasha.jpg>
                </p>
                <h3 class="shadow font_contact_2"><p align="center"><a href="https://vk.com/dreamgrin">Дарья Заячковская</a></p></h3>
                <h5 class="font_contact_1"><p align="center">Куратор Horror дефиле/ Cosplay сценка</p>  </h5>
            </div>
            <!--7-->
            <div class="col-sm-12 col-md-3 col-lg-3">
                <p align="center">
                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\liza.jpg>
                </p>
                <h3 class="shadow font_contact_2"><p align="center"><a href="https://vk.com/id199240906">Елизавета Ланина</a></p></h3>
                <h5 class="font_contact_1"><p align="center">Куратор Original дефиле/ Волонтерская служба</p>  </h5>
            </div>
            <!--8-->
            <div class="col-sm-12 col-md-3 col-lg-3">
                <p align="center">
                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\Artyom.jpg>
                </p>
                <h3 class="shadow font_contact_2"><p align="center"><a href="https://vk.com/id381485990">Артём Ржеутский</a></p></h3>

                <h5 class="font_contact_1"><p align="center">Куратор тех. части/ Выставка</p>  </h5>
            </div>
        </div>
        <div class="container">
            <!--9-->
            <div class="col-sm-12 col-md-3 col-lg-3">
                <p align="center">
                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\stefan.jpg>
                </p>
                <h3 class="shadow font_contact_2"><p align="center"><a href="https://vk.com/id47503824">Стефан Шилов</a></p></h3>
                <h5 class="font_contact_1"><p align="center">Куратор Steampunk дефиле</p>  </h5>
            </div>
            <!--10-->
            <div class="col-sm-12 col-md-3 col-lg-3">
                <p align="center">
                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\yan.jpg>
                </p>
                <h3 class="shadow font_contact_2"><p align="center"><a href="https://vk.com/john__y">Ян Мурашко</a></p></h3>
                <h5 class="font_contact_1"><p align="center">Куратор сцены</p>  </h5>
            </div>
            <!--11-->
            <div class="col-sm-12 col-md-3 col-lg-3">
                <p align="center">
                    <img class="img-thumbnail img-circle" width="300" height="600" src=\images\Контакты\evgene.jpg>
                </p>
                <h3 class="shadow font_contact_2"><p align="center"><a href="https://vk.com/id123122762">Евгений Дервоедов</a></p></h3>
                <h5 class="font_contact_1"><p align="center"> Администратор сайта / техподдержка</p></h5>
            </div>
        </div>
    </div>
    <hr>
</div>
